
$cardBackground: $offWhite;
//$cardBackground: $red;
$addressContainerBackground: white;
$addressTextColor: $darkGrey;



.adress-container
{
  background-color: $addressContainerBackground;
  //color: $addressTextColor;
}

.girl {
  .face-container {
    //  border: 2px solid $red;
  }
}
.boy {
  .face-container {
    //  border: 2px solid $green;
  }
}
.boy,
.girl {
  background-color: $cardBackground;
  position: relative;
  color: $addressTextColor;
  box-shadow: -11px 13px 20px -14px rgba(0,0,0,0.75);
}
.adress-container {
  .gtr-row {
    background-color: $addressContainerBackground; //$offWhite;
  }
}
$faceSize: 145px;
.face-container {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: $faceSize;
  height: $faceSize;
  border-radius: 50%;
  background-color: white;
}

@include respond-to(not-desktop) {
  .adress-text-container {
    font-size: 14px;
    width: auto;
    margin: 0 auto;
    padding: 160px 20px 30px 30px;
  }
  .card-container {
  //  @extend .flex-center;
  }
  .face-container {
    top: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 50%;
  }
  .all-info-link {
    margin: 20px 10px 0 0;
  }



}
@include respond-to(desktop) {

  .adress-text-container {
    font-size: 16px;
    padding: 160px 0 30px 10%;
  }
  .face-container {
    top: 10px;
    right: 10px;
    border-radius: 50%;
  }
  .all-info-link {
    margin: 20px 12% 0 0;
  }

}
.icon {
  line-height: 25px;
  font-size: 18px;
  margin: 30px 15px 0 0;
 color: darken(grey,10%);
  //color: $addressTextColor;
}
.placeholder-icon {
  color: $cardBackground;
}
.all-info-link {
  padding: 15px 5px;
  cursor: pointer;
  background-color: $darkGrey;
  text-align: center;
  color: $offWhite;
  transition: all 0.4s ease;

  &:hover
  {
    background-color: lighten($darkGrey,20%);

    //border: 1px solid $darkGrey;

  }


}
