body
{
  color: #424242;
  font-family: 'Playfair Display', serif;
  * {
    outline: none;
  }
  position: relative;
}

.overlay
{
  position: absolute;
  background-color: $overlay;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

h2
{
  padding: 30px 0;
}
.row, .gtr-row
{
  color: white;
  font-size: 13px;
}
article
{
  margin: 0 auto;
  max-width: 680px;
}

.underline
{
  text-decoration: underline;
}

.background-container
{
  width: 100%;
  background: url(../images/bear.jpg) center center no-repeat fixed;
 //background-color: $green;
  background-size: cover;
  @extend .flex-center
}

.search-container
{
  margin: 0 auto;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  z-index:200;
  input
  {
    display: block;
    height: 40px;
  }


@include respond-to(phone-device) {
  h1
  {
    font-size: 24px;
    padding: 10px;
    margin: 10px 0 0 0;
  }


.search-icon
{
  font-size: 20px;
}


}
@include respond-to(large-device) {
  h1
  {
    font-size: 40px;
    padding: 10px;
    margin: 10px 0 0 0;
  }


.search-icon
{
  font-size: 34px;
}
}
}

@media(min-width: 1px) and (max-width: $mobile-large-break)
{
  .background-container
  {
    height: 400px;
  }
  .search-container
  {
    width: 98%;
    max-width: 560px;

    input
    {
      width: 90%;
      margin: 0 auto;
    }
    h3
    {
      text-align: center;
    }
  }
}
@media (min-width: $mobile-large-break+1)
{
  .background-container
  {
    height: 550px;
  }

  .search-container
  {
    width: 50%;
    max-width: 560px;
    //padding: 10px 80px 30px 80px;
    padding: 0 60px;

    input
    {
      width: 100%;
    }
  }
}

.search-result-container
{
//  border: 1px solid $darkGrey;
box-shadow: -11px 13px 20px -14px rgba(0,0,0,0.75);

  margin: 0 auto;
  z-index: 999;
  max-width: 100%;
  left: 0;
  right: 0;
  background-color: white;
  position: absolute;
 .search-result
  {
   background-color: $offWhite;
   border-bottom: 1px solid $darkGrey;
   padding: 29px 80px;

   &:last-of-type
   {
     border-bottom: none;
   }

   &:hover
   {
     cursor: pointer;
   }
  }
}
.search-result-active
{
  background-color: $darkGrey !important;
  color: $offWhite;
}
h3
{
  padding: 0;
  margin: 15px;
}


.highlight
{
  color: white;
  background-color: lighten($green,5%);
  font-size: 1.0rem;
}
.search-result
{
  text-transform: capitalize;
}
