body
{
  color: #424242;
  font-family: 'Playfair Display', serif;
  * {
    outline: none;
  }
}
h2
{
  padding: 30px 0;
}
.row, .gtr-row
{
  color: white;
  font-size: 13px;
}
article
{
  margin: 0 auto;
  max-width: 680px;
}

.underline
{
  text-decoration: underline;
}

.background-container
{
  width: 100%;
  background: url(../images/nature.jpg) center center no-repeat fixed;
  background-size: cover;
  @extend .flex-center
}

.search-container
{
  margin: 0 auto;
  background-color: rgba(255,255,255,0.7);
  input
  {
    display: block;
    height: 40px;
  }
}

@media(min-width: 1px) and (max-width: $mobile-large-break)
{
  .background-container
  {
    height: 400px;
  }


  .search-container
  {
    width: 90%;
    max-width: 560px;
    input
    {
      width: 90%;
      margin: 0 auto;
    }
    h3
    {
      text-align: center;
    }
  }
}
@media (min-width: $mobile-large-break+1)
{
  .background-container
  {
    height: 700px;
  }

  .search-container
  {
    width: 50%;
    max-width: 560px;
    padding: 10px 80px 30px 80px;

    input
    {
      width: 100%;
    }
  }
}




.search-container
{
  position: relative;
  h1
  {
    font-size: 40px;
    padding: 20px;
  }
}
.search-result-container
{
  margin: 0 auto;
  z-index: 999;
  max-width: 100%;
  left: 0;
  right: 0;
  background-color: white;
  position: absolute;
 .search-result
  {
   border-bottom: 1px solid $darkGrey;
   padding: 30px 80px;

   &:hover
   {
     cursor: pointer;
   }
  }
}
.search-result-active
{
  background-color: $darkGrey;
  color: $offWhite;
}
h3
{
  padding: 0;
}


.highlight
{
  color: white;
  background-color: $red;
}


.search-result
{
  text-transform: capitalize;
}


.pop-up-container
{

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.6);
  display: none;
  transition: opacity 0.35s ease-in-out;
  opacity: 0;

.pop-up-face-container
{
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: $green;
  position: absolute;
  top: -100px;
  background-size: cover;
}
  .pop-up-container-inner
  {
  //  margin-top: 5%;
    position: relative;
    margin: 70px auto 0 auto; //
    width: 60%;
    max-width: 350px;
    padding: 100px 80px 80px 80px;
    background-color: $offWhite;
  }
  .close-pop-up
  {
    background-color: $red;
    color: $offWhite;
    cursor: pointer;
    width: 140px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    &:hover
    {
      background-color: darken($red,10%);
    }
  }

  .highlight
  {
    color: inherit;
    background-color: inherit;
  }

}
