.pop-up-container
{

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color:$overlay;
  display: none;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;





  .pop-up-face-container
  {
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 50%;
    position: absolute;
    background-size: cover;



  }
  .pop-up-container-inner
  {
    position: relative;
    background-color: $offWhite;
    animation: sk-scaleout .4s  ease-in-out;

  @keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;

  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1;
  }
  }

  }

  .close-pop-up
  {
    background-color: $red;
    color: $offWhite;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    &:hover
    {
      background-color: darken($red,10%);
    }
  }


@include respond-to(phone-device) {
  .pop-up-face-container
  {
    height: 130px;
    width: 130px;
    top: -70px;
  }

  .pop-up-container-inner
  {
    font-size: 14px;
    margin: 30px auto 0 auto; //
    width: 80%;
    max-width: 500px;
    padding: 55px 20px 10px 20px;
  }

  .close-pop-up
  {
    font-size: 14px;
    width: 90px;
    padding: 15px 15px;
  }




}
@include respond-to(large-device) {
  .pop-up-face-container
  {
    height: 200px;
    width: 200px;
    top: -100px;
  }
  .pop-up-container-inner
  {
    margin: 120px auto 0 auto; //
    width: 90%;
    max-width: 500px;
    padding: 100px 40px 80px 40px;
  }
  .close-pop-up
  {
    width: 140px;
    padding: 20px;
  }
}





  .highlight
  {
    color: inherit;
    background-color: inherit;
  }

}
