$red: #D24D57;
$blue: #4183D7;
$green: #16A085;
$purple: #663399;
$darkGrey: #2f2f2f;
//$offWhite: #f3f4e9;
$offWhite: #fcfcf4;

$mobile-small-break: 450px;
$mobile-large-break: 767px;
$tablet-break: 1024px;

$ms-gtr-min-h: 200px;
$ms-gtr: 3px;

$ml-gtr-min-h: 300px;
$ml-gtr: 6px;

$tab-gtr-min-h: 230px;
$tab-gtr: 4px;

$desk-gtr-min-h: 260px;
$desk-gtr: 6px;
